/**
  ****************************
  @author "Bhartkumar Boricha"
  ****************************
**/
.form-control{
    color: #03e9f4;
  }
  
  .label-text{
    color: #fff;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box input:hover, .login-box .user-box input:focus {
    border-bottom: 1px solid #03e9f4;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    /* margin: 40px auto 10px auto; */
    letter-spacing: 4px
  }
  
  input[type="datetime-local"] {
    font-size: 16px;
    padding: 8px 10px;
    border: none;
    color: white; 
    background: linear-gradient(#141e30, #243b55);
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  
  input[type="datetime-local"]:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .btn-div{
    width: 170px;
    align-items: center;
    margin: 30px auto;
  }
  
  .login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  .login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  
  
  /* Custom Radio Button */
  .input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #03e9f4;
  }
  
  input[type=radio]:checked + label>div{
    color: #03e9f4;
  }
  
  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    transition: 200ms all;
  }
  
  input[type=radio]:hover + label>img{
    box-shadow: 0 0 3px 3px #03e9f4;
  }
  
  input[type=radio]:checked + label>img {
    transform: 
      rotateZ(-10deg) 
      rotateX(10deg);
  }
  input[type=radio]:checked + label>div{
    top: -20%;
    left: 10%;
    transform: 
      rotateZ(-10deg) 
      rotateX(10deg);
  }
  
  .about{
    width: 150px;
    font-size: 10px;
    font-weight: 100;
    color: #ccc;
    text-align: justify;
  }
  
  .d-flex{
    display :flex; 
    justify-content: space-between;
  }
  
  @media (max-width: 600px) {
    .login-box{
      width: 500px;
    }
    input[type=radio] + label>img{
      width: 160px;
      height: 160px;
    }
  }
  
  @media (max-width: 300px) {
    .login-box{
      width: 300px;
    }
    form {
      width: 100%;
    }
  }
  
  
  /* The container */
  .container {
    /* display: block; */
    position: relative;
    padding-left: 24px;
    padding-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #03e9f4;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 4.65px;
    left: 4.65px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  
  .date-time{
    margin-top: 20px;
  } 