/**
  ****************************
  @author "Bhartkumar Boricha"
  ****************************
**/
.login-box label{
    color: white;
    font-size: 25px;
}

.login-box form{
    width: 500px;
}

.login-box .radio-text{
    font-size: 17px;
}

.login-box input[type="text"], .login-box input[type="email"]{
    width: 200px;
    height: 25px;
}
.login-box #time,.login-box select{
    width: 90px;
    height: 25px;
}

form button{
    padding: 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);

}